body{
    margin: 0;
    overflow: hidden;
    background: url("Images/BirthdayBackground.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
}
canvas{
  display: block;
  background: transparent;
}

#my-button {
  position: absolute;
  top: 550px;
  left: 580px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: pink;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}

/* LINE CONTAINERS */
.line {
  position: absolute;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);
  left: 50%;
}

.line span {
  display: inline-block;
  color: pink;
  font-weight: bold;
  font-size: 65px;
  position: relative;
  -webkit-text-stroke: 2px black;
}

/* CURVE OFFSETS */

/* Line 1: HAPPY BIRTHDAY NENA */
#line1 span:nth-child(1) { top: 150px; }
#line1 span:nth-child(2) { top: 160px; }
#line1 span:nth-child(3) { top: 170px; }
#line1 span:nth-child(4) { top: 180px; }
#line1 span:nth-child(5) { top: 190px; }
#line1 span:nth-child(6) { top: 195px; }
#line1 span:nth-child(7) { top: 200px; }
#line1 span:nth-child(8) { top: 205px; }
#line1 span:nth-child(9) { top: 210px; }
#line1 span:nth-child(10){ top: 220px; }
#line1 span:nth-child(11){ top: 220px; }
#line1 span:nth-child(12){ top: 210px; }
#line1 span:nth-child(13){ top: 205px; }
#line1 span:nth-child(14){ top: 200px; }
#line1 span:nth-child(15){ top: 190px; }
#line1 span:nth-child(16){ top: 185px; }
#line1 span:nth-child(17){ top: 170px; }
#line1 span:nth-child(18){ top: 160px; }
#line1 span:nth-child(19){ top: 150px; }


/* Line 2: HAVE AN AMAZING DAY */
#line2 span:nth-child(1) { top: 150px; }
#line2 span:nth-child(2) { top: 160px; }
#line2 span:nth-child(3) { top: 170px; }
#line2 span:nth-child(4) { top: 180px; }
#line2 span:nth-child(5) { top: 182px; }
#line2 span:nth-child(6) { top: 192px; }
#line2 span:nth-child(7) { top: 200px; }
#line2 span:nth-child(8) { top: 196px; }
#line2 span:nth-child(9) { top: 210px; }
#line2 span:nth-child(10){ top: 215px; }
#line2 span:nth-child(11){ top: 215px; }
#line2 span:nth-child(12){ top: 210px; }
#line2 span:nth-child(13){ top: 200px; }
#line2 span:nth-child(14){ top: 195px; }
#line2 span:nth-child(15){ top: 190px; }
#line2 span:nth-child(16){ top: 185px; }
#line2 span:nth-child(17){ top: 180px; }
#line2 span:nth-child(18){ top: 170px; }
#line2 span:nth-child(19){ top: 160px; }

/* Line 3: BIG 22 */
#line3 span:nth-child(1){ top: 195px; }
#line3 span:nth-child(2){ top: 200px; }
#line3 span:nth-child(3){ top: 202px; }
#line3 span:nth-child(4){ top: 195px; }
#line3 span:nth-child(5){ top: 202px; }
#line3 span:nth-child(6){ top: 195px; }


/* VERTICAL PLACEMENT OF LINES */
#line1 { top: 100px; }
#line2 { top: 180px; }
#line3 { top: 260px; }
